name: Deploy mdBook to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install mdBook if missing
        run: |
          if ! command -v mdbook >/dev/null; then
            echo "mdbook not found, installing..."
            cargo install mdbook --version "^0.4"
          else
            echo "mdbook is already installed"
          fi

      # This step is essential for configuring the Pages environment
      - name: Configure Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/book

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages 
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 